@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;

}

body {
    font-size: 14px;
    background-color: var(--cream);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    overflow-x: hidden;

    padding-block: 3rem;
}

.body {
    min-width: 375px;
    max-width: 1440px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    background-color: white;

    text-align: left;



}

.body>*,
#body>* {
    width: 375px;
    max-width: 375px;

    text-align: left;


    word-wrap: break-word;



}

picture {

    border-radius: inherit;

    display: flex;
    align-items: center;

}

img {


    border-radius: inherit;


}


button {
    background-color: var(--dark-cyan);
    color: var(--cream);

    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;

    border-radius: 6px;
    padding-block: 1rem;

    transition: all .3s ease-in-out;

}

button:hover {
    background-color: var(--darker-cyan);
}

button:focus {
    background-color: var(--even-darker-cyan);
}

@media screen and (min-width: 800px) {
    .body {
        flex-direction: row;
        width: calc(2 * 375px);
    }

}