@import url(padronizer.css);

.result {
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));

    text-align: center;

    color: white;

    max-width: 375px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

}

/*

White
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

*/

.circle {
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));

    border-radius: 50%;


    width: min-content;
    margin-top: 1.5rem;
    padding: 2rem 3rem 2rem 3rem;
}

.circle h3 {
    font-size: 3rem;

}

.circle div {
    color: var(--Light-lavender);
    font-weight: 800;
}

.comment {
    margin-top: 1em;
    color: var(--Light-lavender);
}

.comment h4 {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
    color: white;
}

.comment div {
    margin-inline: 2.5rem;
}

.summary {

    width: 375px;
    display: block;

    justify-content: center;
    flex-direction: column;


    padding-left: 1.25rem;
    padding-right: 4rem;
    padding-top: 3.2rem;
    padding-bottom: 2rem;
}

li {
    padding: 0.5rem;
    padding-right: 0.75rem;
    padding-left: 1rem;

    margin-block: 1.125rem;

    list-style: none;
    width: 100%;

    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

    background-color: transparent;

    font-size: 1.25rem;
    font-weight: 800;



}

li section:first-child {
    font-weight: 500;
}

img {
    bottom: -3px;
    transform: translateY(0%);
    padding-right: 0.125rem;
}